# This dataset has many duplicate values. You need to identify them and also remove them.

In [1]:
import pandas as pd

In [2]:
# creating  a sample dataframe with duplicate rows
data = {    'Pet': ['Cat', 'Dog', 'Dog', 'Dog', 'Cat'],
            'Color': ['Brown', 'Golden', 'Golden', 'Golden', 'Black'],
             'Eyes': ['Black', 'Black', 'Black', 'Brown', 'Green']}

In [3]:
data

{'Pet': ['Cat', 'Dog', 'Dog', 'Dog', 'Cat'],
 'Color': ['Brown', 'Golden', 'Golden', 'Golden', 'Black'],
 'Eyes': ['Black', 'Black', 'Black', 'Brown', 'Green']}

In [4]:
df = pd.DataFrame(data)
df

   Pet   Color   Eyes
0  Cat   Brown  Black
1  Dog  Golden  Black
2  Dog  Golden  Black
3  Dog  Golden  Brown
4  Cat   Black  Green

- Here 1 row and 2 row are duplicates.
- to remove them we use drop_duplicates.

In [5]:
df.drop_duplicates()

   Pet   Color   Eyes
0  Cat   Brown  Black
1  Dog  Golden  Black
3  Dog  Golden  Brown
4  Cat   Black  Green

## Drop duplicate rows based on certain columns

In [6]:
df

   Pet   Color   Eyes
0  Cat   Brown  Black
1  Dog  Golden  Black
2  Dog  Golden  Black
3  Dog  Golden  Brown
4  Cat   Black  Green

In [7]:
df.drop_duplicates(subset=['Pet', 'Color'])

   Pet   Color   Eyes
0  Cat   Brown  Black
1  Dog  Golden  Black
4  Cat   Black  Green

#  Remove duplicates and retain the last occurrence

In [8]:
df

   Pet   Color   Eyes
0  Cat   Brown  Black
1  Dog  Golden  Black
2  Dog  Golden  Black
3  Dog  Golden  Brown
4  Cat   Black  Green

In [9]:
df.drop_duplicates(keep='last')

   Pet   Color   Eyes
0  Cat   Brown  Black
2  Dog  Golden  Black
3  Dog  Golden  Brown
4  Cat   Black  Green

## Remove duplicates and do not retain any occurrences

In [10]:
df

   Pet   Color   Eyes
0  Cat   Brown  Black
1  Dog  Golden  Black
2  Dog  Golden  Black
3  Dog  Golden  Brown
4  Cat   Black  Green

In [11]:
df.drop_duplicates(keep=False)

   Pet   Color   Eyes
0  Cat   Brown  Black
3  Dog  Golden  Brown
4  Cat   Black  Green